body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/************/
/** HEADER **/
/************/

header {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  background: #1F2937;
}

header h1 {
  font-size: 24px;
  color: #F9FAF8;
}

header nav {
  display: flex;
  align-items: center;
}

header nav p {
  margin-left: 10px;
  margin-right: 10px;
}

header nav p a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}


/**********/
/** HERO **/
/**********/

#hero {
  display: flex;
  padding: 100px 200px 175px;
  background: #1F2937;
}

#hero .col-left {
  flex-basis: 50%;
}

#hero .col-left h2 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

#hero .col-left p {
  font-size: 18px;
  color: #E5E7EB;
}

#hero .col-left button {
  padding: 7px 30px;
  color: #F9FAF8;
  background: #3882F6;
  border: none;
  border-radius: 5px;
}

#hero .col-right {
  flex-basis: 50%;
}


/*****************/
/** RANDOM INFO **/
/*****************/

#random-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  padding: 25px 200px;
}

#random-info h2 {
  flex-basis: 100%;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}

#random-info .info-card {
  flex: 1;
  margin: 0 10px;
}

#random-info .info-card div {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

#random-info .info-card p {
  font-size: 14px;
  color: #1F2937;
  text-align: center;
}


/********************/
/** FEATURED QUOTE **/
/********************/

#featured-quote {
  margin: 100px 0;
  padding: 75px 300px;
  background: #E5E7EB;
}

#featured-quote .quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

#featured-quote .quote-author {
  font-size: 24px;
  font-weight: 900;
  color: #1F2937;
  text-align: right;
}


/********************/
/** CALL TO ACTION **/
/********************/

#call-to-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 200px;
  padding: 45px 0;
  color: #F9FAF8;
  background: #3882F6;
  border-radius: 10px;
}

#call-to-action .col-left .call-to-action-title {
  margin: 0;
  font-size: 24px;
}

#call-to-action .col-left p {
  margin: 0;
}

#call-to-action .col-right button {
  padding: 5px 30px;
  color: #E5E7EB;
  border: 1px solid #E5E7EB;
  background: #3882F6;
  border-radius: 5px;
}


/************/
/** FOOTER **/
/************/

footer {
  padding: 15px 0;
  color: #E5E7EB;
  background: #1F2937;
  text-align: center;
}